/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {

   body, header, nav, main, footer {
      max-width: 100%;
      width: 100%;
      padding: 0;
   }

   header ul{
      margin-left: 30%;
      padding-left: 0;
      margin-bottom: 0;
   }
   .facebook-p {
      margin-top: 15%;
   }

   header div ul:nth-child(1){
      margin-right: 10%;
   }

   header div ul:nth-child(2){
      margin-right: 5%;
   }

   .fa-facebook, .fa-twitter{
      border:#484349 1px solid;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      text-align: center;
      margin-top: 13%;
      padding-top: 2.5%;
   }

   .fa-twitter {
      margin-top: 16%;
      width: 60px;
      margin-right: 0;

   }

  .fa-twitter {
   width: 50px;
  }

  header, header div, header ul {
   border-radius: 5px
   }

   header {
      border-bottom: 1px solid black;
   }

   .social-media-div {
      border-radius: 5px;
   }


   /*----------- BODY --------------*/

   body {
      background-color: #484349;
   }

   header, footer {
      width: 80%;
      margin-left: 10%;
      background-color: white;
   }

   header {
      margin-top: 2%;
      border-radius: 5px 5px 0px 0px;
      border: 1px solid black;
      border-bottom: 0;
   }
   
   /*----------- HEADER --------------*/

   .message {
      font-size: 120%;
      padding-top: 1%;
      padding-bottom: 1%;
      border-radius: 5px 5px 0px 0px;
   }

   .p-header {
      padding: 1%;
   }

   header img {
      margin-top: 3%;
      margin-left: 5%; 
   }
   header h1 {
      font-size: 250%;
      padding: 0;
      margin: 0;
      padding-top: 3%;
   }

   header h2 {
      font-size: 150%;
      padding: 0;
      margin: 0;
      padding-top: 1%;
   }

   header h1, header h2 {
      margin-right: 10%;
      text-align: center;
   }


   .date {
      padding-left: 0;
      font-size: 120%;
      text-align: center;
      margin-left: 10%;
   }

   header {
      margin-bottom: 0;
   }

   /*----------- NAVIGATION --------------*/

   nav ul, nav ul.open {
      display: flex;
      width: 80%;
      margin-left: 10%;
   }

   nav button {
   margin-top: 1%;
   margin-bottom: 1%;
   margin-left: 10%;
   background: #51a3a3;
   text-align: center;
   border: none;
   font-size: 1.5rem;
   color: #fff;
   padding: 1%;
   border-radius: 5px;
   }

   nav {
      border: 0;
   }

   nav ul {
      max-width: 84%;
      border: 1px solid black;
      overflow: hidden;
   }

   nav ul li:nth-child(-n+3), nav ul li:nth-child(4) {
      border-right: 1px solid black;
   }

   nav ul li {
      
      border: 0;
   }

   nav ul li a {
      height: 100%;
      border: 0;
   }

   

   .last-li {
   display: flex;
   border-left: black 1px solid ;
   }

   .fa-facebook {
      border: 1px white solid;
      text-align: center;
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 4%;
      margin-top: 4%;
      margin-left: 25%;
      margin-right: 0;
      width: 20%;
   }

   .fa-twitter {
      border: 1px white solid;
      text-align: center;
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 4%;
      margin-top: 4%;
      margin-left: 15%;
      margin-right: 15%;
      width: 20%;
   }

   nav ul li, .active {
      width: 100%;
      text-align: center;
   }
   
   .active {
      border: 0;
   }
   .active:hover {
      color: white;
      background-color: #484349;
   }

   nav {     
   margin: 0;
   padding: 0;
   }

   #hamburger-btn {
      display: none;
   }
   /*----------- MAIN --------------*/

   main {
      max-height: 10%;
      padding-bottom: 0;
      padding-bottom: 2%;
      width: 80%;
      margin-left: 10%;
      border: 1px solid black;
      border-top: 0;
      border-bottom: 0;
   }

   main h1 {
      margin-left: 5%;
   }
   
   .home-grid {
      max-width: 90%;
      width: 100%;
      max-height: 100%;
      padding: 0;
      margin: 0;
      margin-left: 5%;
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(5, auto);
      grid-gap: 1%;
   }

   .home-grid a {
      padding-top: 0;
      margin-left: 0;
      border-radius: 2px;
   }

   .img-free {
      height: 140%;
      width: 140%;
   }

   .link-1 {
      grid-column: 1/5;
      grid-row: 1/2;
   }

   .link-1 a:hover {
      color: black;
      font-size: 105%;
      cursor: pointer;
  }

   .link-1 img {
      height: 120%;
      width: auto;
   }
   
   .home-grid a{
      overflow: hidden;
   }

   .home-grid div {
      margin-bottom: 0;
      margin-top: 0;
   }

   .link-2 {
      grid-column: 1/3;
      grid-row: 5/6;
   }

   .link-3 {
      grid-column: 3/5;
      grid-row: 5/6;
   }

   .link-3 a:hover {
      color: black;
      font-size: 105%;
      cursor: pointer;
  }

   .link-4 {
      grid-column: 1/5;
      grid-row: 2/3;
   }

   .link-4 a:hover {
      color: black;
      font-size: 105%;
      cursor: pointer;
  }

   .link-4 figure {
      left: 100px;
   }
   
   #p-windSpeed {
      left: 320px;
   }

   #p-windChill {
      top: 105px;
      left: 320px;
   }

   .link-5 {
      grid-column: 1/3;
      grid-row: 3/4;
      width: 100%;
   }

   .link-5 a:hover {
      color: black;
      font-size: 105%;
      cursor: pointer;
  }
   
   .link-6 {
      grid-column: 3/5;
      grid-row: 3/4;
   }

   .link-6 a:hover {
      color: black;
      font-size: 105%;
      cursor: pointer;
  }

   .link-7 {
      display: block;
      grid-column: 1/5;
      grid-row: 4/5;
   }

   .link-7 {
      position: relative;
  }

  .link-7 a:hover {
   color: black;
   font-size: 105%;
   cursor: pointer;
}
  
  .link-7 img {
      position: absolute;
      height: 100%;
  }
  
  .link-7 h3 {
      position: absolute;
      left: 28%;
      top: 10%;
      font-size: 250%;
   }
  
  .link-7 p {
      position: absolute;
      text-align: center;
      top: 40%;
      left: 15%;
      display: block;
      width: 70%;
      font-size: 170%;
  }
  
  .link-7 a {
      text-decoration: underline;
  }
  
  .link-7 a:hover {
      color: black;
      font-size: 105%;
      cursor: pointer;
  }
 
   .thankyou-p {
    margin-left: 10%;
    line-height: 150%;
   }
 
   /*----------- FOOTER --------------*/
 
   .logo-image-footer{
      margin-left: 1%;
   }

   hr {
      width: 80%;
      margin-left: 10%;
   }

   footer {
      border: 1px solid black;
      border-top: 0;
      border-radius: 0px 0px 5px 5px;
      padding-bottom: 1%;
      margin-bottom: 1%;
      padding-top: 0;
      padding-top: 5%
   }

   .last-p {
      font-size: 80%;
      margin-left: 2%;
   }


   /* DISCOVER PAGE */

   .main-discover img[data-src] {
      filter: blur(0.2em);
   }

   .main-discover img {
      filter: blur(0em);
      transition: filter 0.5s;
      border-radius: 20px;
      box-shadow: 0 0 20px black;
      width: 40vw;
   }

   .main-discover figcaption {
      margin-top: 2%;
   }

   .main-discover-div {
      top: 2%;
      width: 40vw;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 12% auto auto auto auto;
      padding-bottom: 0%;
   }

   .main-discover h2 {
      grid-column: 1/5;
      grid-row: 1/2;
   }
  
  .main-discover h3 {
      grid-column: 1/5;
      grid-row: 2/3;
   }

   .main-discover img:hover {
      width: 42vw;
      box-shadow: 0 0 30px black;
   }

   /* JOIN PAGE */

   .main-join form {
      margin: 0 auto;
      width: 29%;
   }

   /* DIRECTORY PAGE */

   .main-dir {
      padding-top: 2%;
      padding-bottom: 5%;
   }

   .dir-div {
      max-width: 100%;
      max-height: 100%;
      margin: 1%;
   }

   .main-dir .dir-div .cards{
      width: 100%;
      height: 100%;
      margin: 2%;
      padding: 1%;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: 33% 33% 33%;
      column-gap: 3%;
      row-gap: 7%;
   }

   .main-dir section {
      margin: 0;
      margin-top: 0;
      padding: 5%;
      width: 100%;
      height: 100%;
   }

   .contact-div {
      margin-top: 5%;
   }
         
 } /* end of media query */